<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hola mundo desde JAVA</h1>
<table>
    <thead>
    <tr>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Genero</th>
    </tr>
    </thead>
    <tbody>
    <!--   <tr th:each="elementoAIterar:${sobreLoQueItera}"> -->
    <tr th:each="persona:${personas}">
        <td th:text="${persona.cedula}"></td>
        <td th:text="${persona.nombre}"></td>
        <td th:text="${persona.apellido}"></td>
        <td th:text="${persona.genero}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>